.contenedor {
  margin-bottom: 20px;
}

.lista {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.boton {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ccc;
  color: #000;
  font-weight: normal;
}

.botonActivo {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1DB954;
  color: #fff;
  font-weight: bold;
}
