.contenedor {
  margin-top: 25px;
}

.contenedor h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
}

.vacio {
  margin-top: 20px;
  color: #888;
  font-style: italic;
}

.lista {
  background-color: #121212;
  border-radius: 8px;
  padding: 8px;
}
